[submodule "OslofjordDB"]
	path = OslofjordDB
	url = https://github.com/oslofjord-twin/OslofjordDB
[submodule "OslofjordFE"]
	path = OslofjordFE
	url = https://github.com/oslofjord-twin/OslofjordFE
[submodule "OslofjordRV"]
	path = OslofjordRV
	url = https://github.com/oslofjord-twin/OslofjordRV
[submodule "OslofjordSM"]
	path = OslofjordSM
	url = https://github.com/oslofjord-twin/OslofjordSM
