[submodule "OslofjordFE"]
	path = OslofjordFE
	url = https://github.com/oslofjord-twin/OslofjordFE
[submodule "OslofjordSM"]
	path = OslofjordSM
	url = https://github.com/oslofjord-twin/OslofjordSM
[submodule "OslofjordRV"]
	path = OslofjordRV
	url = https://github.com/oslofjord-twin/OslofjordRV
[submodule "OslofjordDB-API"]
	path = OslofjordDB-API
	url = https://github.com/oslofjord-twin/OslofjordDB-API
[submodule "Oslofjord-oxygen"]
	path = Oslofjord-oxygen
	url = git@github.com:oslofjord-twin/Oslofjord-oxygen.git
