[submodule "OslofjordFE"]
	path = OslofjordFE
	url = https://github.com/oslofjord-twin/OslofjordFE
[submodule "OslofjordSM"]
	path = OslofjordSM
	url = https://github.com/oslofjord-twin/OslofjordSM
[submodule "OslofjordRV"]
	path = OslofjordRV
	url = https://github.com/oslofjord-twin/OslofjordRV
